.lcshop {
    box-sizing: border-box;
}

.lcshop-listing-cnt {
    padding: 1em 0;
}

.lcshop-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}

.lcshop-header {
    width: 100%;
    overflow-x: hidden;
    padding: 0 0 .5em 0;
}

.lcshop-header h1 {
    font-weight: 700;
    margin: 0 0 .3em 0;
    line-height: 1;
}

.lcshop-header p {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.lcshop-sidebar, .lcshop-riepilogo-sidebar {
    width: 25%;
    padding-bottom: 1em;
}

.lcshop-sidebar-tit-link,
.order-summary-title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.lcshop-sidebar-tit {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.lcshop-sidebar-tit-link svg,
.order-summary-title-link svg {
    width: 20px;
    padding: 4px;
}

.lcshop-minicart-cnt {

    margin-bottom: 2em;
}

.lcshop-minicart {
    display: block;
}

.lcshop-minicart-cnt-header {
    display: none;
}


a.lcshop-button, button.lcshop-button, .button.lcshop-button {
    font-size: 16px;
}
a.lcshop-button:hover, button.lcshop-button:hover, .button.lcshop-button:hover {
    color: var(--link-ondark-hover);

}

a.lcshop-minicart-action {
    font-size: 12px;
    padding: .3em .5em;
    border-radius: .2em;
}


.lcshop-minicart-row,
.order-summary-row {
    display: grid;
    grid-template-columns: 7fr 2fr 1fr;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}

.lcshop-minicart-col-name {
    text-align: left;
}

.lcshop-minicart-col-tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lcshop-minicart-row.action-cnt {
    grid-template-columns: 1fr;
    text-align: center;
}

ul.lcshop-category-list {
    list-style: none;
    margin: 1em 0;
}

ul.lcshop-category-list li {
    padding: .4em 0;
    font-size: .9em;
}

ul.lcshop-category-list li a {
    background-color: var(--bg-lighter);
    padding: .2em .6em;
    border-radius: .2em;
}

ul.lcshop-category-list li a.is_current {
    color: var(--link-hover);
}



/* --- LIST  ---- */

.lcshop-listing {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1em 2%;
    width: 75%;
}
.lcshop-no-products {
    display: block;
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.lcshop-card {
    padding: 1em 1em .3em 1em;
    border: var(--border);
    border-radius: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
}


.lcshop-card form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.lcshop-card form .sel_prod_model_id {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: .3em;
}

.lcshop-card img {
    padding: 0;
    margin: 0 0 1em 0;
    display: block;
    line-height: 1;
    border: var(--border);
}

.lcshop-card .lcshop-card-dettagli-txts h5 {
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 .3em 0;
}
.lcshop-card-dettagli-nodello {
    font-size: .9em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.lcshop-card-infos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: .5em 0;
}
.price_coin{ white-space: nowrap;  }
.lcshop-card .lcshop-prices {
    padding: .1em 0 .8em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.lcshop-card .lcshop-prices .price_promo {
    color: #CC0000;
    font-size: .95em;
    font-weight: 700;
}
.lcshop-card .lcshop-prices .price_nosale {
    opacity: .7;
    text-decoration: line-through;
    font-size: .71em;
}

.lcshop-pager{ display: block; padding: 3em 0; font-size: .8em;}
.lcshop-pager ul.pagination{ display:flex; list-style:none; justify-content:center; align-items:center; gap: 1em;}
.lcshop-pager ul.pagination li{ padding: 0 .1em;}
.lcshop-pager ul.pagination li a{  display: inline-block; padding: .3em; min-width: 2em; min-height: 2em; background-color: var(--bg-lighter); color: var(--link-color); border-radius: .6em; text-align: center; }
.lcshop-pager ul.pagination li a:hover{  background-color: var(--bg-lighter); color: var(--link-hover); }
.lcshop-pager ul.pagination li.active a{  background-color: var(--link-hover); color: var(--light); }



/* --- DETAIL  ---- */
.lcshop-scheda {
    display: block;
    padding: 1em 0;
    width: 100%;
}

.lcshop-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 42% 55%;
    gap: 1em 3%;
}

.lcshop-varianti-tit {
    padding: 0;
    margin: 0;
}

a.lcshop-scheda-category-link{
    font-size: 1.5em;
}
.lcshop-scheda-dati{
    font-size: 1.5em;
}

.lcshop-varianti-cnt {
    position: relative;
    padding: 0;
    margin: .5em 0;
    max-width: 20em;
}

.lcshop-varianti-current {
    background-color: var(--alternative);
    border-radius: .4em;
    font-size: 1em;
    padding: .5em;
    margin: 0;
    line-height: 1;
    color: var(--primary);
}
.lcshop-varianti-current, .lcshop-varianti-list-item{
    display: grid;
    grid-template-columns: 1fr 5fr .6fr;
    align-items: center;
    gap: 1em;
}

.lcshop-varianti-open-sub{
    position: relative;
    height: 2em;
}
.lcshop-varianti-cnt .ico-accordion {
    position: absolute;
    transform: rotateX(180deg);
}

.lcshop-varianti-cnt:hover .ico-accordion {
    transform: rotateX(0deg);
}

.lcshop-varianti-img, .lcshop-varianti-list-item-img{
    width: 3em;
}
.lcshop-varianti-name, .lcshop-varianti-list-item-name{
    font-size: .9em;
}

ul.lcshop-varianti-list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--bg-lighter);
    border-radius: .4em;
    display: none;
}

.lcshop-varianti-cnt:hover ul.lcshop-varianti-list {
    display: block;
    box-shadow: 1px 1px 5px var(--primary);

}

ul.lcshop-varianti-list li {
    font-size: .9em;
    padding: .5em;
    margin: 0;
    line-height: 1;
}

ul.lcshop-varianti-list li.current a {
    color: var(--rosso);
}
.shop_content_detail_tools form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.shop_product_scheda_dettagli_price{
    width: auto;
    padding: 1em 0 .8em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.shop_product_scheda_dettagli_price .price {
    text-align: left;
    font-size: 1.4em;
    /* padding-top: 1em; */
}
.shop_product_scheda_dettagli_price .price.price_promo {
    color: #CC0000;
    /* font-size: .95em; */
    font-weight: 700;
}
.shop_product_scheda_dettagli_price .price.price_promo::before { content: "Promo: "; font-size: .71em; }
.shop_product_scheda_dettagli_price .price.price_nosale {
    font-size: .9em;
    text-decoration: line-through;
}

.lcshop-breadcrumb {
    display: block;
    padding: .5em 0 0 0;
}

.lcshop-breadcrumb ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2em 0;
    list-style: none;
    font-size: .8em;
}

.lcshop-breadcrumb ul li {
    padding: 0;
}

.lcshop-breadcrumb ul li::after {
    content: '/';
    padding: 0 .5em;
}

.lcshop-breadcrumb ul li:last-child:after {
    content: '';
    padding: 0;
}


.lcshop-searchbar-cnt {
    display: block;
    padding: 0 0;
    margin: 0 0 1em 0;
    border-bottom: var(--border);

}
.lcshop-searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1em 0;
    gap: 1em;
}
.lcshop-searchbar input{
    width: 100%;
    padding: .5em;
    font-size: 1em;
    border: var(--border);
    border-radius: .5em;
}

.lcshop-cart-icon-cnt {
    position: relative;
    display: flex;
    align-items: center;
}

.lcshop-cart-icon-cnt a {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    position: relative;
    width: 40px;
}
.lcshop-cart-icon-cnt a svg {
    width: 40px;
    padding: 0;
}

.lcshop-cart-icon-cnt .cart-icon-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--primary);
    color: var(--alternative);
    padding: 5px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lcshop-detail-medias {
    width: auto;
    max-width: 100%;
    /* width: 45%; */
}

.lcshop-detail-medias .swiper-wrapper {
    align-items: center;
}

.lcshop-detail-medias img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: var(--border);
    border-radius: .5em;
    max-height: 350px;
}

.lcshop-detail-main {
    width: auto;
    max-width: 100%;
    /* width: 55%; */
}

h5.lcshop-detail-tech-txt-label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em 0;
}

.lcshop-detail-tech-txt-txt {
    font-size: .9rem;
    
}
.lcshop-detail-tech-txt-txt p{
    line-height: 1.2;
    padding: 0 0 .5em 0;
}

.shop_content_detail_media_cnt {
    width: auto;
    max-width: 100%;
}

.shop_content_detail_media {
    position: relative;
    width: 100%;
}

.shop_content_detail_main {
    padding: 0 0 0 2em;
}

.scheda_tecnica {
    padding: 1em 0;
    margin: 2em 0;
}

.cart-page {
    display: block;
    padding: 10px 0;
}

.cart-page-rows {
    font-size: .8em;
    border-bottom: var(--border);

}

.cart-page-row {
    display: grid;
    grid-template-columns: 50% 15% 15% 15% 5%;
    padding: .5em 0;
    align-items: center;
    text-align: center;
}

.cart-page-row.cart-page-row-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em;
    border-bottom: var(--border);
}

.cart-page-col-name {
    text-align: left;
    padding-right: 2em;
}

.cart-page-col-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page-name {
    font-size: 1.3em;
    text-align: left;
}

.cart-page-fullname {
    font-size: .9em;
    font-weight: 300;
    text-align: left;
}

.cart-page-totals {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1em 0;
}
.lcshop-cart-totals {
    width: auto;
    padding: 0;
    display: block;
    max-width: 400px;
}

.lcshop-totals-row {
    font-size: .8em;
    max-width: 400px;
    display: block;
    display: grid;
    grid-template-columns: 10fr 5fr;
    padding: .1em 0;
    border: none;
    text-align: right;
}


.lcshop-totals-row-totale {
    font-size: 1.3em;
    font-weight: 700;
    text-align: right;
    padding-top: .5em;
    margin-top: .5em;
    border-top: var(--border);
}


.shop-action-tools-rows {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    gap: 1em;
}
.shop-action-tools-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.cart-page-col.cart-page-col-qnt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

a.cart-page-qnt-action {
    background: var(--primary);
    color: var(--light);
    width: 20px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .8em
}

a.cart-page-action {
    background: var(--primary);
    color: var(--light);
    width: 20px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center
}

.lcshop-cart-action {
    border: none;
    background: var(--primary);
    color: var(--light);
    padding: .75em 1.5em;
    border-radius: .4em;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1;
}

.lcshop-cart-action.lcshop-minicart-action {
    font-size: .9em;
}

.lcshop-cart-action.order-summary-action {
    font-size: .9em;
}


.qty button {
    background: var(--primary);
    color: var(--link-ondark-color);
    border: none;
    padding: 5px !important;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.qty button:hover {
    color: var(--link-ondark-hover);
}

.qty_input,
input.qty_input {
    width: 2em;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    padding: 6px;
    margin: 0 4px;
    border: none;
    vertical-align: middle;
    background-color: var(--light);
    color: var(--primary);
    border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}



.agg_cart_cnt {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.agg_cart_cnt.unavailable {
    display: none;
}

.agg_cart_cnt.available {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lcshop-card .agg_cart_cnt.available {
    justify-content: space-between;
}

.product_giac_mess {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
    padding: 1em 0 2em 0;
    text-align: center;
}

.product_giac_mess.available {
    display: none;
}

.product_giac_mess.unavailable {
    display: flex;
}

.agg_cart_cnt.agg_cart_cnt_detail {
    justify-content: flex-start;
}

button.cart_in,
.cart_in {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    /* height: 40px; */
    cursor: pointer;
    padding: .1em .5em;
}

.cart_in svg {
    width: 25px;
    padding: 4px;
}

.cart_in svg path {
    fill: var(--link-ondark-color);
}

.cart_in:hover svg path {
    fill: var(--link-ondark-hover);
}

.qty {
    margin-right: 10px;
}

.qty button {
    width: auto;
    height: auto;
    padding: .5em .7em !important;
    display: inline-block;
}

.prodotto_esaurito_detail {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
    opacity: .7;
    text-transform: uppercase;
    font-size: .71em;
    font-weight: 700;
}




@media screen and (max-width: 1024px) {
    .lcshop-listing-cnt {
        padding: 0;
    }

    .lcshop-breadcrumb {
        font-size: .8em;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .lcshop-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .lcshop-sidebar, .lcshop-riepilogo-sidebar {
        width: 100%;
    }
    .lcshop-cart-totals {
        width: 100%;
        padding: 0;
        display: block;
        max-width: 100%;
    }
    .lcshop-totals-row{
        max-width: 100%;
    }

    .lcshop-minicart-cnt-header {
        display: block;
        background-color: var(--alternative);
        padding: .5em 1em;
    }

    .lcshop-sidebar-tit-link {
        display: none;
    }

    .lcshop-minicart-cnt-data {
        display: none;
        padding: .2em 1em;
    }

    .lcshop-sidebar-tit-show-minicart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .lcshop-sidebar-tit-show-minicart .ico-accordion {
        transform: rotateX(180deg);
    }

    .mobile-show .lcshop-sidebar-tit-show-minicart .ico-accordion {
        transform: rotateX(0deg);
    }

    .mobile-show .lcshop-minicart-cnt-data {
        display: block;
    }

    .lcshop-category-list-cnt .lcshop-sidebar-tit {
        /* display: none; */
        font-size: .7em;
    }

    ul.lcshop-category-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: auto;
        margin: 0;
        padding: .5em 2em .8em 0;
        border-bottom: 1px solid var(--secondary);
    }

    ul.lcshop-category-list li {
        padding: 0 .5em 0 0;
        white-space: nowrap;
    }

    ul.lcshop-category-list li a {
        background-color: var(--bg-lighter);
        padding: .2em .6em;
        border-radius: .2em;
    }

    ul.lcshop-category-list::-webkit-scrollbar {
        display: none;
    }

    ul.lcshop-category-list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .lcshop-listing {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .lcshop-detail {
        width: 96%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        gap: 1em
    }

    .lcshop-detail-tech-txt-txt {
        font-size: .8rem;
    }



    .cart-page-row {
        display: grid;
        grid-template-columns: 30% 30% 30% 10%;
        /* padding: .5em 0;
        align-items: center;
        text-align: center; */
    }

    .cart-page-row div:first-child {
        grid-column-start: 1;
        grid-column-end: 5;
        padding-bottom: .5em;
        /* grid-row-start: 1;
        grid-row-end: 3; */
    }

    .cart-page-row.cart-page-row-header {
        display: none;
    }




}

@media screen and (max-width: 767px) {
    .lcshop-listing {
        width: 96%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;
    }

    /* .cart-page-totals-rows {
        width: 100%;
        max-width: 100%;
        padding: 1em 0;
    } */

    .lcshop-cart-totals {
        width: 100%;
        padding: 1em 0;
        max-width: auto;
    }

    
}