@import url('./reset.css');
@import url('./root.css');
@import url('./components.css');

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary);
    background: var(--light);
}

a {
    color: var(--secondary);
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--light);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo .site_claim {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.logo img {
    width: 10rem;
    height: auto;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: none;
}

header nav.menu-visible {
    display: flex;
}

header nav ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.hamburger {
    display: block;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    header nav {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        margin-left: 10px;
    }

    header nav ul a {
        text-decoration: none;
        color: var(--secondary);
    }
}