.lcusers{
    box-sizing: border-box;
}

.lcusers-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}


.lcusers-header {
    width: 100%;
    overflow-x: hidden;
    padding: 0 0 .5em 0;
}

.lcusers-header h1 {
    font-weight: 700;
    margin: 0 0 .3em 0;
    line-height: 1;
}

.lcusers-header p {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.lcusers-sidebar {
    width: 25%;
}

.lcusers-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
    margin: 0 auto;
}

.lcusers-signup-form-cnt, .lcusers-login-form-cnt, .lcusers-profile-form-cnt {
    width: 100%;
    max-width: 450px;
}
.lcusers-profile-form-cnt {
    max-width: 650px;
}
.lcuser-altenative{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: var(--primary);
    color: var(--alternative);
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0;
    max-width: 450px;
    min-width: 300px;
}
.lcuser-altenative *{ color: var(--alternative);}
.lcuser-altenative .lcuser-altenative_btn{ 
    background-color: var(--alternative); color: var(--primary); padding: .5em .8em; margin-bottom: .5em; display: inline-block;  border-radius: .6em; 
    text-transform: uppercase; font-weight: 700; cursor: pointer; text-decoration: none;
}
.lcuser-altenative .lcuser-altenative_btn:hover{ opacity: .8; }

.lcuser-icon-cnt {
    position: relative;
    display: flex;
    align-items: center;
}

.lcuser-icon-cnt a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
    width: 60px;
    padding-right: 20px;
}

.lcuser-sidebar{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}




.lcuser-sidebar-menu-cnt-header {
    display: none;
}

.lcshop-sidebar-tit-link {
    display: none;
}



.lcshop-sidebar-tit-show-minicart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lcshop-sidebar-tit-show-minicart .ico-accordion {
    transform: rotateX(180deg);
}

.mobile-show .lcshop-sidebar-tit-show-minicart .ico-accordion {
    transform: rotateX(0deg);
}



.lcshop-category-list-cnt .lcshop-sidebar-tit {
    /* display: none; */
    font-size: .7em;
}

ul.lcshop-category-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin: 0;
    padding: .5em 2em .8em 0;
    border-bottom: 1px solid var(--secondary);
}

ul.lcshop-category-list li {
    padding: 0 .5em 0 0;
    white-space: nowrap;
}

ul.lcshop-category-list li a {
    background-color: var(--bg-lighter);
    padding: .2em .6em;
    border-radius: .2em;
}

ul.lcshop-category-list::-webkit-scrollbar {
    display: none;
}

ul.lcshop-category-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}




@media screen and (max-width: 1024px) {
    .lcuser-sidebar-menu-cnt-header {
        display: block;
        background-color: var(--alternative);
        padding: .5em 1em;
    }
    .lcuser-sidebar-menu-cnt-data {
        display: none;
        padding: .2em 1em;
    }
    .mobile-show .lcuser-sidebar-menu-cnt-data {
        display: block;
    }

}
@media screen and (max-width: 767px) {
    .mobile-show .lcshop-sidebar-tit-show-minicart .ico-accordion {
        transform: rotateX(0deg);
    }
    

}