.jodit-ui-separator{ display: none;}
.jodit-ui-group_group_clipboard{ display: none;}
.jodit-ui-group_group_history{ display: none;}
.jodit-ui-group_separated_true:not(:last-child):after {
    display: none;
}
.jodit-toolbar-editor-collection_size_middle{ flex-direction: row;}
.oi{margin-right: 0.4em; margin-left: 0.15em;}

/* menu cmp */

.dd{ max-width: 100% !important; }
.dd-handle{ height: 40px !important;}
.dd-empty{ display: none !important;}
button.dd-collapse{ display: none;}
span.dd-content{ display: block; padding: .3em .3em;}
.remove_from_menu{ color: var(--danger); float: right;}

.app_items_list_cnt{ background-color: #333640; border-radius: .5em; padding: 1em 1em; margin: 0; padding: 20px !important; box-sizing: border-box;}
.app_items_list_cnt ul { padding: .2em .3em; list-style: none; margin: .1em .2em;}


.open-modal-mediagallery-gallery{color: #333a3f;}

/* menu cmp */

/* pages list */

.listIndex{ width: 100%; box-sizing: border-box; padding: 1em 0;}
.list_item_row{ display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em .5em;
    border-bottom: #D2D2D255 1px solid;
 }
 .list_item_id{ width: 3em;  box-sizing: border-box; padding: 0 .5em;}
 .list_item_nome{ box-sizing: border-box; padding: 0 .5em;}
 .list_item_tools{ width: 30%;  box-sizing: border-box; padding: 0 .5em; text-align: right; margin-left: auto;}
 .list_item_tools a.btn{ font-size: .7em;}
 .list_item_tools a.btn.is_sel{ background-color: var(--primary);}
 .list_item_tools a.btn .oi{ margin: 0; }
 .list_item_tools a.btn.btn-set_as_home{ margin: 0 1em  0 0; }



.listIndex ul{ width: 100%; box-sizing: border-box; padding: 0 0; list-style: none;}
.listIndex ul li{ padding:0 0;}
.listIndex ul li ul li{padding-left:.5em;}
.listIndex ul li ul li ul li{ padding-left:1em;}
.listIndex ul li ul li ul li ul li{ padding-left:1.5em;}
.listIndex ul li ul li ul li ul li ul li{ padding-left:2em;}
.listIndex ul li ul li ul li ul li ul li ul li{ padding-left:2.5em;}

.list_item_row:hover{ background-color: rgba(0, 0, 0, 0.67);}
.my_table tr:hover td a{ color: #FFF;}
.my_table tr:hover td{ background-color: rgba(0, 0, 0, 0.67);}

/* pages list */

th, td{min-width: 30px;}
.jodit-container{color: #000 !important;}




.my-btn-min{
    font-size: .8em;   
}

label{margin-bottom: 0.2em;
    font-size: 14px;
    font-weight: bold;
    }
a, a.btn-click{color: #66a7bb;}
a:hover{color: #66a7bb;}



.my_table{width: 99%; margin: 20px 0;}
	.my_table tr{border-bottom: 1px solid #323232;}
	.my_table td{padding: 10px 5px;}
	.my_table thead th{padding-bottom: 10px;}

    .my_table td a{color: #FFF}
    .my_table td a:hover{color: #66a7bb;}

.form-check {
    position: relative;
    display: block;
    padding-left: 2.5rem;
  }

.par_expand::before{ content: "More"; }
.isOpen .par_expand::before{ content: "Less"; }
.isOpen .par_expand span.oi{   transform: rotate(180deg);
}

.btn-primary {
    color: #fff;
    background-color: #358d78;
    border-color: #1a522c;
    border: none;
}
.btn-primary:hover{background-color: #6291c3;}

.content-rows-cnt{ }
.content-rows-cnt > .content-row {
    background-color: var(--white);
    box-shadow: 1px 1px 5px #000;
    border: 1px solid #FFF;
}
.more-row-content{ padding: 0 0; margin: 0; }
.content-rows-cnt > .content-row:nth-child(odd) {
  /*  background-color: var(--light); */
}
.content-rows-cnt > .content-row:nth-child(odd) .more-row-content{ border-top: 1px solid var(--white); border-bottom: 1px solid var(--white);}

.text-muted {
    color: #bec5cc !important;
}

div[meta-type="col-sx-dx"]{}

.my_text-light{color: #8c8c8c;}
.my_text-min{font-size: 14px;}


#scheda_tools{box-shadow: 1px 1px 6px #161616;}


.card-footer{padding: 0 1.25rem 0.5rem 1.25rem; border-top: none;}
.card-body{padding: .5rem 1.25rem;}

.par_expand::before, .isOpen .par_expand::before{content: '';}

.gallery_imgs_container{border: 1px solid #D2D2D2 !important;}

.gallery_imgs_container:after{
	content: 'Aggiungi Immagini';
    text-align: center;
    margin: 10px 0;
    display: block;
    padding: 30px 0 0 0;
    background: url(img/add_gallery.svg) center top no-repeat;
    background-size: 25px 25px;
    opacity: 0.5;
    transition: all .3s ease;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    width: 99%;
    color: #000000;
}




.gallery_imgs_container.gallery_imgs_container_w_img:after{display: none;}

.my_main_container{background-color: #4c525c !important;}


.form-group{margin-bottom: 0.5rem;}


.media_item_img_btn{ max-width: 100%;}

.in_upload .media_item_img_btn{position: relative; display: inline-block; height: 0; width: 100%; padding-top: 100%; font-size: 20px; color: white; font-weight: bold; text-align: center; overflow: hidden;}

.in_upload .preview-img, .in_upload .img-thumbnail{position: absolute; display: flex; justify-content: center; align-items: center; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}

.media_type-svg a{position: absolute; right: 0.75rem; bottom: 20px; top: 0; left: 0.75rem;}
	.media_type-svg a img{ width: 100%; height: 100%; object-fit: cover;}
   

a.remove-single-img span.oi{ margin: 0; padding: .2em .4em .4em .4em; }
a.remove-single-img{
    position: absolute;
    top: -7px;
    right: 4px;
    color: var(--danger);
    font-size: 10px;
    line-height: 10px;
    margin: 0;
    padding: .25em .25em;
    background-color: #FFF;
    line-height: .75em;
    display: none;
    text-align: right;
    margin-top: .1em;
    margin-right: .1em;
    /* display: inline-block; */
    border: 1px solid #000;
    border-radius: 50%;
}
.hasImage a.remove-single-img{  display: block; }

/*  */
.row-sort-placeholder{
    width: 100%;
    height: 200px;
    background-color: var(--light);
    border: 2px dashed #D2D2D255;
    background: transparent;
    border-radius: 5px;
}
.gallery_preview-sort-placeholder{
    max-width: 4.1em;
    background-color: var(--light);
    border: 2px dashed #D2D2D255;
}
/* ----------------- */
.row_gallery_items-sort-placeholder{
    min-height: 350px;
    max-width: 100%;
    flex: 0 0 100%;
    background-color: var(--light);
    border: 2px dashed #D2D2D255;
}

/* ----------------- */
.ui-sortable-placeholder.row_columns_items-sort-placeholder{
    min-height: 350px;
    max-width: 100%; 
    width: 33%;  
    background-color: var(--light);
    border: 2px dotted var(--primary);
}
.colonne_items_tools, .gallery_items_tools{ background-color: #aeaeae; color: #FFF; border-radius: 10px 10px 0 0;}
.colonne_items_cnt, .gallery_items_cnt{ background-color:#f4f4f4; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; border-radius: 10px; border: 1px solid #e3e3e3;}

.gallery_content-row_item, .a_like_card_cnt{width: 20%; padding: 10px; box-sizing: border-box;}
.gallery_content-row_item_body{padding: 10px; box-sizing: border-box; background: #FFF; border-radius: 10px; }

.a_like_card_cnt{height: 200px; display: flex; align-items: center; justify-content: center;  padding: 10px; box-sizing: border-box;}
	.a_like_card{ display: flex; align-items: center; justify-content: center; text-align: center; border: 2px dashed #66a7bb; padding: 10px; box-sizing: border-box; width: 100%; height: 100%;}


.colonne_content-row_item{width: 33.3%; padding: 10px; box-sizing: border-box;}
.colonne_content-row_item_body{padding: 10px; box-sizing: border-box; background: #FFF; border-radius: 10px; }




/* ----------------- */
#file_uploader{display: block; clear: both;}
#drag-and-drop-zone{margin: 10px 0 20px 0;}
#drag-and-drop-zone .btn{padding: 5px 0; font-weight: 300; color: #8c939f; font-style: italic;}
#drag-and-drop-zone h3{padding-top: 45px; background-repeat: no-repeat; background-image: url(img/drag_drop.svg); background-position: top center; background-size: 45px 45px;}
#files {
    overflow-y: auto !important;
    min-height: 40px;
}
#debug {
	overflow-y: scroll !important;
	height: 180px;
}
.dm-uploader {
	border: 2px dashed #cfd8de;
	text-align: center;
	padding: 50px;
	border-radius: 5px;
	transition: all 0.4s linear;
}
.dm-uploader:hover{border-color: #7d99ab;}
.dm-uploader.active {
	border-color: #5cbcff;
	box-shadow: 0 0 6px 2px #00BCD4;
	border-style: solid;
	animation: lampeggia .6s alternate-reverse infinite;
}
/* --- */


.sb-sidenav-menu-nested a{padding: .5rem .75rem !important;}


.progress{width: 90%;}


.progress_cnt{
    position: absolute;top: 0.25em; left: 1em; right: 1em; bottom: 0.25em; background: rgba(0, 0, 0, 0.67); color: #FFF; 
    display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; align-content: center;
}
.progress_center{ padding: 1em; text-align: center; }

.progress-bar{background-color: #3f81c3;}

.text-uploading{margin: 5px 0;}


/* --- */

/* ----------------- */
#mediagallery_modal_items .selected .img-thumbnail{ background-color: #00BCD4;}
#gallery_preview img{ max-width: 4.1em;}

.nome_file_min{ 
    font-size: .85em; 
    width: 90%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
.all_formati_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.img-formato-cnt {
    width: 48%;
    display: flex;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: .5em;
    margin: 1em 1%;
    border-radius: .5em;
    border: 1px solid #f5f5f5;
    height: 56vw;
    flex-direction: column;
    justify-content: space-between;
}
.img-formato-in {
    display: flex;
    background: #FFF;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.img-formato-cnt img {
    max-width: 100%;
    max-height: 100%;
} */

.img-formato-cnt .no-img-text {
    width: 100%;
    text-align: center;
    background: #FFF;
    padding: .2em .2em;
    max-width: 100%;
    font-size: .8em;
}
.info-formato{
    display: block; width: 100%;
    font-size: .78em;
}
.img-fit{
    width: 100%;
    object-fit: contain;
    height: 75vw;
}  

.entity_custom_items_cnt .custom_field-row_item{
    padding-bottom: 10px;
}
.entity_custom_items_cnt .custom_field-row_item .form-group{
    margin-bottom: 2px !important;
}
.entity_custom_items_cnt .custom_field-row_item:nth-child(odd){
        background-color: #dee2e6;
}

/* .gallery_items_cnt div:last-child{ margin-right: auto !important;} */
@media (min-width: 576px) {
    /* .img-formato-cnt {
        height: 59vw;
    }
    .img-formato-in {
        height: 75%;
    } */
    .img-fit{
        height: 43vw;
    }  
}

@media (min-width: 768px) {
    .row_gallery_items-sort-placeholder {
        min-height: 300px;
        max-width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    /* .img-formato-cnt {
        width: 31%;
        padding: .5em;
        margin: 1em 1%;
        height: 41vw;
    }
    .img-formato-in {
        height: 75%;
    } */
    .img-fit{
        height: 29vw;
    }  
}

@media (min-width: 992px) {
    .row_gallery_items-sort-placeholder{
        max-width: 220px;
    }  
    /* .img-formato-cnt {
        height: 38vw;
    }
    .img-formato-in {
        height: 78%;
    } */
    .img-fit{
        height: 30vw;
    }  
}

@media (min-width: 1200px) {

    /* .img-formato-cnt {
        width: 24%;
        margin: 1em 0.5%;
        height: 25vw;
        padding: .5em;
    }
    .img-formato-in {
        
        height: 78%;
    } */
    .img-fit{
        height: 18vw;
    }  

}

@media (max-width: 1280px) {
    .colonne_content-row_item{width: 50%;}
    .row_columns_items-sort-placeholder{width: 50%;}
}

@media (min-width: 1650px) {
    .gallery_content-row_item, .a_like_card_cnt{width: 16%;}
    .row_gallery_items-sort-placeholder{width: 16%;}
}
  